<div class="user-page-title">
  <h2>Prêts</h2>
</div>
<button mdbRipple (click)="add()" style="width: 20%;margin-left: 20px" class="btn btn-primary btn-block mb-4">Ajouter un prêt</button>
<div class="user-list-layout">
  <div class="user-list-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Outil</th>
        <th scope="col">Utilisateur</th>
        <th scope="col">Date de retour</th>
        <th scope="col">Manipulations</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Tendeuse</td>
        <th>Jean</th>
        <td>11/12/2024</td>
        <td><img src="assets/icon.png" alt="" srcset="" width="50px"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
