<div class="user-page-title">
  <h2>Prêts</h2>
</div>
<button mdbRipple (click)="add()" style="width: 20%;margin-left: 20px" class="btn btn-primary btn-block mb-4">Nouveau prêt</button>
<div class="user-list-layout">
  <div class="user-list-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Outil</th>
        <th scope="col">Utilisateur</th>
        <th scope="col">Date de retour</th>
        <th scope="col">Manipulations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of list">
        <th scope="row">{{p.pretId}}</th>
        <td>{{ p.outil }}</td>
        <th>{{ p.user }}</th>
        <td>{{ p.dateRetour }}</td>
        <td><img src="assets/icon.png" alt="" srcset="" width="50px"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
