<div class="login-layout">
  <div class="login-container">
    <div class="logo-container">
      <img src="./assets/logo-regie.png" alt="" srcset="">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <mat-form-field class="example-full-width">
        <mat-label>Choisir utilisateur</mat-label>
        <input type="text"
               placeholder="nom,prenom,email,.."
               aria-label="Number"
               matInput
               formControlName="user_id"
               [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          @for (option of filteredOptions | async; track option) {
            <mat-option [value]="option['index']">{{option['index']+'-'+option['prenom']+' '+option['nom']}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>Choisir outil</mat-label>
        <input type="text"
               placeholder="nom,categorie/filtre,.."
               aria-label="Number"
               matInput
               [formControl]="form.controls.outil_id"
               [matAutocomplete]="auto2">
        <mat-autocomplete #auto2="matAutocomplete">
          @for (tool of filteredOptionsOutils | async; track tool) {
            <mat-option [value]="tool['index']">{{tool['nom']+'-'+tool['categorieOutils']}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <mdb-form-control class="mb-4">
        <input mdbInput formControlName="dateRetour" type="date" class="form-control" />
        <label mdbLabel class="form-label" >Date d'emprunt</label>
      </mdb-form-control>
      <!-- Submit button -->
      <button mdbRipple type="submit" class="btn btn-primary btn-block mb-4">Ajouter</button>
      <button mdbRipple (click)="back()" class="btn btn-danger btn-block mb-4">Retourner</button>
    </form>
  </div>
</div>


