<div class="login-layout">
  <div class="login-container">
    <div class="logo-container">
      <img src="./assets/logo-regie.png" alt="" srcset="">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Email input -->
      <mdb-form-control class="mb-4">
        <input mdbInput formControlName="email" type="email" id="form2Example1" class="form-control" />
        <label mdbLabel class="form-label" for="form2Example1">Email</label>
      </mdb-form-control>
      <!-- Password input -->
      <mdb-form-control class="mb-4">
        <input mdbInput formControlName="password" type="password" id="form2Example2" class="form-control" />
        <label mdbLabel class="form-label" for="form2Example2">Mot de passe</label>
      </mdb-form-control>
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input
              mdbCheckbox
              class="form-check-input"
              type="checkbox"
              value=""
              id="form2Example31"
              [checked]="true"
            />
            <label class="form-check-label" for="form2Example31"> Se souvener de moi </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="#!">Mot de passe oublié ?</a>
        </div>
      </div>
      <!-- Submit button -->
      <button mdbRipple type="submit" class="btn btn-primary btn-block mb-4">Login</button>
    </form>
  </div>
</div>


