<div class="user-page-title">
  <h2>Outils</h2>
</div>
<button mdbRipple (click)="add()" style="width: 20%;margin-left: 20px" class="btn btn-primary btn-block mb-4">Ajouter un outil</button>
<div class="user-list-layout">
  <div class="user-list-container">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Etat</th>
        <th scope="col">Image</th>
        <th scope="col">Vidéo</th>
        <th scope="col">Filtre/Catégorie</th>
        <th scope="col">Manipulation</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let o of outils">
        <th scope="row">{{o.outilId}}</th>
        <td>{{o.nom}}</td>
        <td>{{o.etat}}</td>
        <td>
          <img *ngIf="toolImages[o.image]!=null" [src]="toolImages[o.image] || toolImages[o.imgPath]" class="outils-img">
          <p *ngIf="toolImages[o.image]==null">Pas d'image</p>
        </td>
        <td>
          <p *ngIf="!o.videoPath">Pas de vidéo</p>
          <iframe *ngIf="o.videoPath" width="250" height="200" [src]="o.videoPath" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </td>
        <td>{{o.categorieOutils}}</td>
        <td>
          <div class="flex-content">
            <img src="assets/modify.png" (click)="modify(o.outilId)" alt="" srcset="" style="height: 50px;width: 50px;cursor: pointer">
            <img src="assets/delete.jfif" (click)="delete(o.outilId)" alt="" srcset="" style="width: 50px;height: 50px;cursor: pointer">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

