<div class="admin-page-layout">
  <div class="sidebar">
    <div class="logo-container">
      <img src="./assets/logo-regie.png" width=200px height="100px" alt="" srcset="">
    </div>
    <div class="navigation-links-layout">
      <div class="navigation-links-container">
        <div class="navigation-link-layout" (click)="toogleContent(0)">
          <img src="./assets/user-icon.png" width="50px" height="50px" alt="" srcset="">
          <p style="margin-left: 10px">Utilisateurs</p>
        </div>
        <div class="navigation-link-layout" (click)="toogleContent(1)">
          <img src="./assets/tools-icon.png" width="50px" height="50px" alt="" srcset="">
          <p style="margin-left: 10px">Catalogue des outils</p>
        </div>
        <div class="navigation-link-layout" (click)="toogleContent(2)">
          <img src="./assets/pret-icon.jpg" width="80px" height="50px" alt="" srcset="">
          <p style="margin-left: 10px">Les prêts en cours</p>
        </div>
        <div class="navigation-link-layout" (click)="toogleContent(3)">
          <img src="./assets/pret-icon.jpg" width="80px" height="50px" alt="" srcset="">
          <p style="margin-left: 10px">Historique des prêts</p>
        </div>
      </div>

    </div>
  </div>
  <div class="content">
    <app-admin-user-list *ngIf="content[0]"></app-admin-user-list>
    <app-admin-tools-list *ngIf="content[1]"></app-admin-tools-list>
    <app-admin-prets *ngIf="content[2]"></app-admin-prets>
  </div>
</div>
