<div class="form-container">
  <mat-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Infos générales sur l'outil</ng-template>
        <mat-form-field>
          <mat-label>Nom</mat-label>
          <input matInput placeholder="Nom de l'outil" formControlName="nom" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Marque</mat-label>
          <input matInput placeholder="Marque de l'outil" formControlName="marque" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Code de rangement</mat-label>
          <input matInput placeholder="Nom de l'outil" formControlName="codeRangement" required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Catégorie / Filtre</mat-label>
          <mat-select [formControl]="firstFormGroup.controls.categorieOutils">
            @for (categorie of categories; track categorie) {
              <mat-option [value]="categorie.value">{{categorie.viewValue}}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Image de l'outil</mat-label>
          <input matInput placeholder="Lien image de l'outil" formControlName="imgPath">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Vidéo de l'outil</mat-label>
          <input matInput placeholder="Lien YouTube,.." formControlName="videoPath">
        </mat-form-field>
        <br>
        <mat-checkbox [formControl]="firstFormGroup.controls.etat">Disponible ou pas ?</mat-checkbox>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Fichiers associés">
      <form [formGroup]="secondFormGroup">
        <input type="file" style="display: none" (change)="onFileSelected($event)" #fileUpload>
        <div class="file-upload">

          {{fileName || "No file uploaded yet."}}

          <button mat-mini-fab color="primary" class="upload-btn"
                  (click)="fileUpload.click()">
            <mat-icon>attach_file</mat-icon>
          </button>
        </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="sendOutils()">Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Terminer</ng-template>
      <p>C'est Fini.</p>
      <div>
        <button mat-button (click)="back()">Retourner au dashboard</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>





