<div class="home-page-header">
  <h1>
    LA BRICOTHEQUE
  </h1>
</div>

<div class="home-page-content-layout">
  <div class="home-page-text-content-layout">
    <div class="home-page-text-content">
      La conciergie solidaire : un nouvel espace pour faciliter
      le quotidien des albigeois.e.s et recréer des liens dans le
      quartier de Lapanouse St-Martin
    </div>
    <div class="seperator"></div>
    <div>
      La Conciergie solidaire, ouverte depuis le 1er Juillet 2024 et
      située au 3ter avenue Flandres Dunkerque, est conçue comme un lieu
      d'accueil, de rencontres et de services où chque personne peut y trouver :
    </div>
    <div style="width: 100%">
      <ul style="justify-self: start">
        <li>Un espace de prêt de matériel : Outils de bricolage,
        de jardinage, petit électroménager de cuisine, matériel de puériculture et vélos.
        </li>
        <li>Un espace pour trouver un service : Outils de bricolage,
          de jardinage, petit électroménager de cuisine, matériel de puériculture et vélos.
        </li>
        <li>Un espace d'animation et d'ateliers : Outils de bricolage,
          de jardinage, petit électroménager de cuisine, matériel de puériculture et vélos.
        </li>
        <li>Un espace convivial : Outils de bricolage,
          de jardinage, petit électroménager de cuisine, matériel de puériculture et vélos.
        </li>
      </ul>
    </div>
    <div style="width: 100%">
      Venez nous rencontrer, la conciergerie est ouverte:
    </div>
    <div style="width: 100%">
      <ul style="justify-self: start">
        <li>
          Lundi et mardi : 9h - 12h / 13h30 - 17h
        </li>
        <li>
          Mercredi : ateliers
        </li>
        <li>
          Jeudi : 13h30 - 17h
        </li>
      </ul>
    </div>
    <div>
      Pour toute information complémentaire, n'hésiter pas à
      contacter Laetitia de Oliveira au 06 47 27 97 61 ou par
      courriel à regie.conciergerie&#64;orange.fr
    </div>
  </div>
  <div class="home-page-images-content-layout">
    <img src="assets/Affiche%20Conciergerie%20Solidaire.png" alt="" srcset="" style="width: 60%; height: 90%">
    <div class="flex-center">
      <h5 style="font-weight: 600">
        Catalogue de la bricothèque :
      </h5>
      <p>
        Catalogue en ligne : <span routerLink="/catalogue">cliquer ici</span>
      </p>
      <p>
        Catalogue en pdf : <span>cliquer ici</span>
      </p>
    </div>
  </div>
</div>
