<div class="login-layout">
  <div class="login-container">
    <div class="logo-container">
      <img src="./assets/logo-regie.png" alt="" srcset="">
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" style="display: flex;flex-direction: column">
      <mat-form-field class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="" value="" formControlName="nom">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="" value="" formControlName="prenom">
      </mat-form-field>
      <!-- Email input -->

      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email"
                 placeholder="Ex. pat@exemple.com">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Adresse</mat-label>
        <input matInput placeholder="" value="" formControlName="adresse">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Numéro de telephone</mat-label>
        <input matInput placeholder="" value="" formControlName="numTel">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Choose a date</mat-label>
        <input formControlName="dateOfBirth" matInput [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker">
          <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput placeholder="" value="" formControlName="password">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
          @for (role of roles; track role) {
            <mat-option [value]="role.value">{{role.viewValue}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <!-- 2 column grid layout for inline styling -->

      <!-- Submit button -->
      <button mdbRipple type="submit" class="btn btn-primary btn-block mb-4">Ajouter</button>
      <button mdbRipple (click)="back()" class="btn btn-danger btn-block mb-4">Retourner</button>
    </form>
  </div>
</div>


